# dev
.vscode/

# python
Lib/
Include/
Scripts/
share/
pyvenv.cfg
__pycache__/
*.pyc

src/ssmal.egg-info

# binary files from demo
demo/**/*.bin
demo/**/*.ssmdebug.json

# test artifacts
coverage.xml
.coverage